body {
  background-color: #adffff;
}

h1 {
  font-family: verdana;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
}

div#hozNavBar {
  width:100%;
  text-align: center;
}

li.fN {
  background-color:#a373b7;
  color: black;
  border-style: dashed;
    border-width:2px;
    border-radius:2px;
}/*FFEE32*/

li a:hover {
  background-color: #555;
  color: white;
}

footer {
  display: block;
  width: 100%;
  background:#d6ceea;
  position: absolute;
  bottom: 0;
}

.piLearn {
    width: 100%;
    height: 100%;
    background: coral;
    display: flex;
}
/*.block {
    width: 100px;
}*/

.left {
    width: 25%;
    background:#ABCDEF;
}
.mid {
    width: 50%;
    background:#FEDCBA;
}
.right {
    width: 25%;
    background:#ABCDEF;
}

.piLearnTitle {
    margin: auto;
    width: 25%;
    margin-bottom:1cm;
}
/*
.piLearnImg {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
*/