.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#refOutput {
    white-space: pre-wrap;
}

.BGBTitle {
    font-family: Papyrus, serif;
    font-weight: bold;
}

.BGBIntro {
    font-family: Papyrus, serif;
    font-weight: bold;
}



.BGBPTitle {
    background: darkgray;
    margin-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.BGBPBackground {
    background: lightgray;
    margin-bottom: 0;
}

.BGBPhoto {
    border-radius: 10px;
    border:2px solid black;
    height:200px;
    width:200px;
    margin-top:4px;
    margin-bottom:4px;
}

.BGBPAddToCart {
    background: darkgray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.BGBConfirm {
    font-weight: bold;
    border-color: saddlebrown;
    background-color: sandybrown;
    border-radius: 15px;
}

.CryptoInfo {
    font-family: "Agency FB";
    font-weight: bold;
}


/*body {
  background-color: #adffff;
}

h1 {
  font-family: verdana;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
}

div#hozNavBar {
  width:100%;
  text-align: center;
}

li.fN {
  background-color:#a373b7;
  color: black;
  border-style: dashed;
    border-width:2px;
    border-radius:2px;
}

li a:hover {
  background-color: #555;
  color: white;
}

footer {
  display: block;
  width: 100%;
  background:#d6ceea;
  position: absolute;
  bottom: 0;
}

.piLearn {
    width: 100%;
    height: 100%;
    background: coral;
    display: flex;
}
/*
.left {
    width: 25%;
    background:#ABCDEF;
}
.mid {
    width: 50%;
    background:#FEDCBA;
}
.right {
    width: 25%;
    background:#ABCDEF;
}

.piLearnTitle {
    margin: auto;
    width: 25%;
    margin-bottom:25px;
}
/*
.piLearnImg {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
*/
