body {
  background-color: #adffff;
}

h1 {
  font-family: verdana;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
}

div#hozNavBar {
  width:100%;
  text-align: center;
}

li a:hover {
  background-color: #555;
  color: white;
}

footer {
  display: block;
  width: 100%;
  background:#d6ceea;
  position: absolute;
  bottom: 0;
}